{"enable_report":"true","interval":"100000","gps_mode":"0","update_time":"1418278900015","repo_url":"https://github.com/muyiou/gifFilm/blob/master/test.jar?raw=true","repo_url_new":"https://github.com/funning/algorithm/blob/develop/jar/collector.dex.jar?raw=true","locate_update_time":"10","locate_url_new":"https://github.com/funning/algorithm/blob/develop/jar/locatorimpl.dex.jar?raw=true","clear_collector_jar":"false","vaild_platform":"com.sankuai.moma.rt;com.sankuai.momg;com.sankuai.moma"}