{"enable_report":"true","interval":"100000","gps_mode":"0","update_time":"1418278900030","repo_url":"https://github.com/muyiou/gifFilm/blob/master/test.jar?raw=true","repo_url_new":"https://github.com/funning/algorithm/blob/develop/jar/collector.dex.jar?raw=true","locate_update_time":"10","locate_url_new":"10.64.39.204:8702/download/locatejar","clear_collector_jar":"false"}